<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device">
        <title>EgFwd Image Processing API Project</title>
    </head>
    <body>
        <header>
            <h1>This is the original image without resizing</h1>
            <% if (original) { %> 
            <img src="http://localhost:3000/images/<%= original %>">
            <% } %>
        </header>
    </body>
</html>